{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swarna Kalanjiyam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>

    <nav class="navbar">
        <a class="navbar-brand" href="{% url 'home:index' %}">
            <img src="{% static 'home/71H-mm8I9wL._UL1500_.jpg' %}" width="40" height="40"
                class="d-inline-block align-top" alt="" loading="lazy">
            Swarna Kalanjiyam
        </a>

    {% block body %}
        
    {% endblock %}

    {% block form %}

    {% endblock %}

</body>

</html>