<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password</title>

    <!meta http-equiv="refresh" content="15">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container text-center">
    <h1>Your password is :</h1>
    <h1 class="alert alert-success">{{ password }}</h1>
    <a href="{% url 'home' %}" class="btn btn-warning"><h1>Home</h1></a>
    <a href="javascript:history.go(0)" class="btn btn-primary">Nahh..</a>
    </div>
</body>

</html>