{% extends 'register/base.html' %}

{% block body %}
    
    <h1 style="text-align: center">Register</h1>
    <br>
    {% if user.is_authenticated %}
    <h2>Logged in as : {{ user.username }}</h2>
    <br>
    <form action="{% url 'logoutuser' %}" method="POST" class="form-inline my-2 my-lg-0">
        {% csrf_token %}
        <button class="btn btn-success btn-lg" type="submit">Logout</button>
    </form>
        
    {% else %}
        <a style="color:white;" href="{% url 'signupuser' %}"><button type="submit"
                class="btn btn-success btn-lg">Signup</button></a>
        <a style="color:white;" href="{% url 'loginuser' %}"><button type="submit"
                class="btn btn-success btn-lg">Login</button></a>
    {% endif %}

{% endblock %}    
