<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Blogs</title>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Likes</th>
            <th>Content</th>
            <th>Author</th>
        </tr>
        {% for blog in blogs %}
        <tr>
            <td><h3>{{blog.title}}</h3></td>
            <td><h5>{{blog.likes}}</h5></td>
            <td><h5>{{blog.content}}</h5></td>
            <td><h4>{{blog.author}}</h4></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>