{% extends 'home/base.html'%}
{% load crispy_forms_tags %}

{% load static %}

{% block form %}

</nav>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="container">

    <div class="form-head">
        Sign up to save your details
    </div>

    <form  method="POST" class="form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <!--input name="username" type="text" placeholder="Username" style="height:45px; width:400px; margin:30px; margin-bottom:5px; margin-top:40px; padding:10px;">
        <input name="email" type="email" placeholder="Email address" style="height:45px; width:400px; margin:30px; margin-bottom:5px; margin-top:5px; padding:10px;">
        <div style="margin:30px; margin-top:5px; margin-bottom:25px;">
            <input name="password1" type="password" placeholder="Password" style="height:45px; width:180px; padding:10px;"><input name="password2" type="password" placeholder="Confirm Password" style="height:45px; width:180px; margin-left:40px; padding:10px;">
            <p style="font-family:sans-serif; font-size:16px; margin-top:5px;">&nbsp;Use 8 or more characters with a mix of letters, numbers<br>&nbsp;& symbols</p>
        </div-->
        <button type="submit" class="btn btn-primary">Signup</button>
        
    </form>

    <a style="color:black;" href="{% url 'accounts:loginuser' %}">Already
            have an
            account?</a>

</div>

{% endblock %}